<!--<nav class="container-xxl navbar navbar-expand-lg bg-light " style="background-image: linear-gradient(to bottom, rgba(211,255,11, 1), rgba(211,255,11, 0.95));">-->
<header style="background-image: url('imagenes/navbar.png');background-size: 100% 100%;min-height: 15rem;" class="fixed-top">
  <nav class="container-xxl navbar navbar-expand-lg" >
    <div class="container-fluid">
      
      <a class="navbar-brand" href="/">
        <img src="https://cdn-icons-png.flaticon.com/512/1283/1283663.png" alt="Bootstrap" width="156" height="150">
        
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>-->
      
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link navigation rounded-pill border-bottom border-3" aria-current="page" href="/" style="font-size: 2.5rem;font-family: sofia-pro, sans-serif;color:indigo;">
              Estado
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link navigation" href="/foto" style="font-size: 2.5rem;font-family: sofia-pro, sans-serif;color:indigo;">Ver foto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="btnRegar" style="font-size: 2.5rem;font-family: sofia-pro, sans-serif;color:indigo;">Regar</a>
          </li>
        </ul>
  
      </div>
      


      <div style="display: none;width:220px;" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="font-family: sofia-pro, sans-serif;">Regador de Plantas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/" style="font-size: 1.5rem;font-family: sofia-pro, sans-serif;">Estado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/foto" style="font-size: 1.5rem;font-family: sofia-pro, sans-serif;">Ver foto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="btnRegar" style="font-size: 1.5rem;font-family: sofia-pro, sans-serif;">Regar</a>
            </li>
          </ul>
          <!--<form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>-->
        </div>
      </div>
    </div>
  </nav>
</header>